.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form input {
	height: 25px;
	width: 90%;
	border-radius: 10px;
	margin: 5px;
	font-family: "Acme", sans-serif;
	font-family: "Catamaran", sans-serif;
	font-family: "Chakra Petch", sans-serif;
	font-size: 18px;
}

.in-form {
	margin: 5px;
}