<div class="user-item" *ngIf="user">
	<div>
	<div class="user-info" *ngIf="!isUserDataEditing">
		<p>Name: {{user.name}}</p>
		<p>Email: {{user.email}}</p>
		<p>Phone: {{user.phone}}</p>
		<p>Street: {{user.address.street}}</p>
		<!--<p>Age: {{user.age}}</p>-->

		<!--<p *ngIf="isShowUserData">
			<app-lifecycle></app-lifecycle>{{user.age}}
		</p>
		<button (click)="showAndHideUserData()">Hide private data</button>-->
	</div>

	<app-user-edit-form
    *ngIf="isUserDataEditing"
    [user]="user"
    [editFields]="['name', 'email', 'phone', 'street']"
  ></app-user-edit-form>
	<!--<div class="location">
		<p class="title-locations">Locations</p>
		<div  *ngFor="let location of user.locations" >
			<p>City: {{location.title}}</p>
			<span>Lat: {{location.lat}}</span>
		</div>
	</div>-->
</div>
<button (click)=" toggleIsUserDataEditing()">Edit</button>
	<!--<button (click)="showUserData()">Show user</button>-->
</div>